* {
  box-sizing: border-box;
  margin: 0;
}

.padre {
  height: 200px;
  display: flex;
  background-color: blueviolet;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.hijo {
  border: 2px solid blue;
  background-color: aqua;
  width: 100px;
  height: 100px;
}
