.box {
  width: 200px;
  height: 200px;
  padding-top: 20px;
  box-sizing: border-box;
}

.box1 {
  background-color: black;
  color: blue;
  border: 2px solid cornflowerblue;
}

.box2 {
  color: rgb(72, 255, 0);
  border: 2px dotted chocolate;
}

.box3 {
  color: rgb(255, 0, 149);
  border: 2px dashed rgb(0, 255, 128);
}
